<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHeader"></th:block>
</head>
<body>
<div>
	<header id="header" class="header navbar">
		<div class="header-container max-width-lg mx-auto">
			<ul class="nav-left mrg-left-0 padding-15">
				<li>
					<a href="/">
						<img class="logo desktop-view mrg-top-5" src="/images/logo/zzazanstagram.png">
					</a>
				</li>
				<li class="search-box mrg-left-20 desktop-view">
					<a class="search-toggle no-pdd-right" href="">
						<i class="search-icon ti-search pdd-right-10 font-size-25"></i>
						<i class="search-icon-close ti-close pdd-right-10 font-size-25"></i>
					</a>
				</li>
				<li class="search-input desktop-view">
					<input class="form-control mrg-top-0" type="text" placeholder="Search...">
					<div class="advanced-search">
						<div class="search-wrapper">
							<div class="pdd-vertical-10">
								<ul class="list-unstyled list-info">
									<li class="search-result-item">
										<a href="" class="text-dark">#우테코 1기</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav-right padding-15">
				
				<li class="">
					<a class="pointer" href="/articles/new">
						<i class="ti-pencil-alt"></i>
					</a>
				</li>
				<li>
					<a class="pointer">
						<i class="ti-heart"></i>
					</a>
				</li>
				<li>
					<a class="pointer" th:href="@{/members/{nickName}(nickName=${session.member.nickName})}">
						<i class="ti-user"></i>
					</a>
				</li>
			</ul>
		</div>
	</header>
	
	<div class="page-container mrg-top-120">
		<div class="main-content">
			<div class="container-fluid max-width-lg mx-auto">
				<div class="row">
					<div id="index-articles" class="col-lg-7 mx-auto">
						
						<div class="card article-card widget-feed no-pdd mrg-btm-30" th:id="${article.id}">
							<div class="feed-header padding-15">
								<ul class="list-unstyled list-info">
									<li>
										<img class="thumb-img img-circle" th:src="${article.profileImage}" alt="">
										<div class="info">
											<a th:href="@{/members/{nickName}(nickName=${article.nickName})}"
											   th:text="${article.nickName}"
											   class="title no-pdd-vertical text-bold inline-block font-size-15"></a>
										</div>
									</li>
									<a class="pointer absolute top-10 right-0" data-toggle="dropdown"
									   aria-expanded="false">
				                        <span class="btn-icon text-dark">
				                            <i class="ti-more font-size-16"></i>
				                        </span>
									</a>
									<ul class="dropdown-menu">
										<li class="delete-article">
											<a class="pointer">
												<i class="ti-trash pdd-right-10 text-dark"></i>
												<span class="">게시글 삭제</span>
											</a>
										</li>
									</ul>
								</ul>
							</div>
							<div class="feed-body no-pdd">
								<img class="img-fluid" th:src="${article.image}" alt="">
							</div>
							<ul class="feed-action pdd-horizon-15 pdd-top-5">
								<li>
									<a href="">
										<i th:if="${article.ddabongClicked}"
										   class="ddabong-heart fa fa-heart activated-heart font-size-25"></i>
										<i th:unless="${article.ddabongClicked}"
										   class="ddabong-heart fa fa-heart-o font-size-25"></i>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-comment font-size-22"></i>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-export font-size-22"></i>
									</a>
								</li>
								<li class="float-right">
									<a href="" class="pdd-right-0">
										<i class="fa fa-bookmark-o font-size-25"></i>
									</a>
								</li>
							</ul>
							<div class="feedback-status-container pdd-horizon-15">
								<p class="no-mrg pdd-left-5 d-inline-block">
									<a th:id="'ddabong-members-' + ${article.id}" class="ddabong-members pointer"
									   data-toggle="modal"
									   data-target="#modal-ddabong-members">
										<span th:text="${article.ddabongCount}"
										      class="ddabong-message text-bold"></span>
									</a>
									명이 좋아합니다.
								</p>
							</div>
							<div class="feed-footer">
								<div class="comment">
									<ul class="list-unstyled list-info pdd-horizon-5">
										<li class=" no-pdd">
											<div class="info pdd-left-15 pdd-vertical-5">
												<a th:href="@{/members/{nickName}(nickName=${article.nickName})}"
												   th:text="${article.nickName}"
												   class="title no-pdd-vertical text-bold inline-block font-size-15"></a>
												<p th:id="'article-contents-' + ${article.id}"
												   th:text="${article.contents}"></p>
												<time th:text="${article.lastModifiedDate}"
												      class="font-size-8 text-gray d-block">
												</time>
											</div>
										</li>
									</ul>
									<ul class="comment-list list-unstyled list-info pdd-horizon-5">
										<li th:each="comment : ${article.commentResponses}">
											<p th:text="${comment.commenterNickName}"
											   class="inline-block text-bold no-mrg-btm mrg-left-15">
											</p>
											<p th:text="${comment.commentContents}"
											   class="inline-block no-mrg-btm mrg-left-5">
											</p>
										</li>
									</ul>
									<p class="mrg-btm-5"></p>
									<div th:id="'article-comment-input-' + ${article.id}" class="add-comment relative">
										<input th:id="'comment-input' + ${article.id}" rows="1"
										       class="form-control text-dark padding-15"
										       placeholder="댓글 달기...">
										<p class="absolute top-2 right-0">
											<button class="btn btn-default no-border text-gray btn-add-comment">게시
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="modal fade" id="modal-ddabong-members">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header align-self-center">
										<span class="text-bold">좋아요</span>
									</div>
									<ul id="ddabong-ul" class="list-unstyled list-info">
									</ul>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/ArticleCardTemplate.js"></script>
<script src="/js/MemberCardTemplate.js"></script>
<script>

    const ARTICLE_PAGE = (function () {
        const Api = function () {
            const request = {
                get(path, params) {
                    return axios.get(`${path}`, {params: params});
                },
                post(path, data) {
                    return axios.post(`${path}`, data);
                },
                put(path, data) {
                    return axios.put(`${path}`, data);
                },
                delete(path) {
                    return axios.delete(`${path}`);
                }
            };

            return {
                request: request
            };
        };

        const ArticlePageController = function () {
            const searchService = new SearchService();
            const articleService = new ArticleService();
            const commentService = new CommentService();
            const ddabongService = new DdabongService();

            const toggleSearchInput = function () {
                document.querySelector('.search-toggle').addEventListener('click', searchService.toggleSearchInput);
            };

            const showSearchedList = function () {
                document.querySelector(".search-input input").addEventListener('keyup', searchService.showSearchedList);
            };

            const addComment = function () {
                document.querySelectorAll('.btn-add-comment')
                    .forEach(el => el.addEventListener('click', commentService.addComment));
            };

            const toggleHeart = function () {
                document.querySelectorAll('.fa-heart-o')
                    .forEach(el => el.addEventListener('click', ddabongService.toggleHeart));

                document.querySelectorAll('.fa-heart')
                    .forEach(el => el.addEventListener('click', ddabongService.toggleHeart));
            };

            const deleteArticle = function () {
                document.querySelectorAll('.delete-article')
                    .forEach(el => el.addEventListener('click', articleService.deleteArticle));
            };

            const fetchDdabongMembers = function () {
                document.querySelectorAll('.ddabong-members')
                    .forEach(el => el.addEventListener('click', ddabongService.fetchDdabongMembers));
            };

            const init = function () {
                toggleSearchInput();
                showSearchedList();
                addComment();
                toggleHeart();
                deleteArticle();
                fetchDdabongMembers();
            };

            return {
                init: init,
            };
        };

        const ArticleService = function () {
            const request = new Api().request;

            const deleteArticle = function (event) {
                event.preventDefault();
                const message = event.target.closest("div");
                const articleId = message.parentElement.id;

                request
                    .delete('/articles/' + articleId)
                    .then(response => {
                        console.log(response);

                        if (response.data === "SUCCESS") {
                            alert("게시글이 삭제되었습니다.");
                            window.location = '/';
                        }
                    }).catch(response => {
                    console.log(response);
                    alert("게시글에 대한 권한이 없습니다.");
                });
            };

            return {
                deleteArticle: deleteArticle,
            }
        };

        const SearchService = function () {
            const toggleSearchInput = function (event) {
                event.preventDefault();
                document.querySelector('.search-box').classList.toggle('active')
                document.querySelector(".search-input").classList.toggle("active")
                document.querySelector(".search-input input").focus()
            };

            const showSearchedList = function (event) {
                if (event.target.value.length > 0) {
                    document.querySelector(".advanced-search").classList.add("active")
                } else {
                    document.querySelector(".advanced-search").classList.remove("active")
                }
            };

            return {
                toggleSearchInput: toggleSearchInput,
                showSearchedList: showSearchedList,
            }
        };

        const CommentService = function () {
            const request = new Api().request;
            const articleCardTemplate = new ArticleCardTemplate();

            const addComment = function (event) {
                const message = event.target.closest("div");
                const articleIdSplits = message.id.split("-");
                const articleId = articleIdSplits[articleIdSplits.length - 1];

                const input = message.querySelector("input");
                const inputValue = input.value;
                const commentList = message.parentElement.querySelector(".comment-list");

                if (inputValue.length < 1 || inputValue.length > 500) {
                    alert('댓글은 1글자 이상 500글자 이하로 입력해 주세요');
                    return;
                }

                request
                    .post('/' + articleId + '/comments/new', {contents: inputValue})
                    .then(res => {
                        console.log(res);

                        const comment = articleCardTemplate.comment(res.data);
                        commentList.insertAdjacentHTML('beforeend', comment);
                        input.value = '';
                    }).catch(err => {
                    alert(err.response.data);
                });
            };

            return {
                addComment: addComment,
            }
        };

        const DdabongService = function () {
            const memberCardTemplate = new MemberCardTemplate();
            const request = new Api().request;

            function activeDdabong(el) {
                el.classList.remove('fa-heart-o');
                el.classList.add('fa-heart', 'activated-heart');
            }

            function disableDdabong(el) {
                el.classList.remove('fa-heart', 'activated-heart');
                el.classList.add('fa-heart-o');
            }

            const toggleHeart = function (event) {
                event.preventDefault();
                const message = event.target.closest("div");
                let articleId = message.id;

                const splits = articleId.split('-');
                if (splits.length > 1) {
                    articleId = splits[splits.length - 1];
                }
                const ddabongCountTag = message.querySelector('.ddabong-message');

                request
                    .get('/ddabongs/articles/' + articleId)
                    .then(response => {
                        console.log(response);
                        ddabongCountTag.innerText = response.data.count;

                        if (response.data.clicked === true) {
                            activeDdabong(event.target);
                        } else {
                            disableDdabong(event.target);
                        }
                    });
            };

            const fetchDdabongMembers = function (event) {
                const message = event.target.closest("div").parentNode;
                const articleIdSplits = message.id.split("-");
                const articleId = articleIdSplits[articleIdSplits.length - 1];

                const ddabongUlTag = document.querySelector('#ddabong-ul');

                console.log(articleId);
                request
                    .get('/ddabongs/members/' + articleId)
                    .then(response => {
                        console.log(response);
                        return response.data.memberResponses;
                    })
                    .then(memberResponses => {
                        ddabongUlTag.innerHTML = "";
                        memberResponses.forEach(member => {
                            const memberNode = document.createElement("LI");
                            memberNode.innerHTML = memberCardTemplate.memberTemplate(member);
                            ddabongUlTag.appendChild(memberNode);
                        })
                    })
            };

            return {
                activeDdabong: activeDdabong,
                toggleHeart: toggleHeart,
                fetchDdabongMembers: fetchDdabongMembers,
            }
        };

        const articlePageController = new ArticlePageController();

        const init = function () {
            articlePageController.init();
        };

        return {
            init: init,
        }
    })();

    ARTICLE_PAGE.init();

</script>
</body>
</html>