<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/article-head :: articleHead">

</head>
<body>
<div>
    <header id="header" class="header navbar bg-transparent no-border">
        <div class="header-container">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div id="logo-dark" class="logo logo-dark d-none" style="background-image: url('/static/images/logo/logo_full_dark.png')"></div>
                        <div id="logo-white" class="logo logo-white" style="background-image: url('/static/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <th:block th:include="${session.user == null} ? 'includes/login-nav' : 'includes/logout-nav'"/>
            </ul>
        </div>
    </header>

    <div class="about-cover card no-border ">
        <div class="cover-img overlay-dark bg" th:style = "
                                            'background-image: url(' + ${#strings.isEmpty(article.coverUrl) ? '/static/images/pages/index/study.jpg' : article.coverUrl} + ');'">
            <div class="padding-30">
                <h1 class="text-center cover-title" th:text="${article.title}">목적의식 있는 연습을 통한 효과적인 학습</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid max-width-lg mx-auto mrg-vertical-30 padding-30">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <a th:href="@{'/articles/' + ${article.id} + '/edit'}" class="float-right pointer btn btn-icon">
                    <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                </a>
                <form method="post" th:action="'/articles/' + ${article.id}">
                    <input name="_method" type="hidden" value="delete" />
                    <button class="btn btn-icon float-right pointer" id="delete-button" type="submit">
                        <i class ="ti-trash text-dark font-size-16 pdd-horizon-5"></i>
                    </button>
                </form>
                <div id="viewerSection"></div>
                <input id="article-contents" th:value="${article.contents}" name="contents" type="hidden">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
                <div class="profile-container row mrg-top-30 mrg-btm-30">
                    <div class="col-md-2 col-sm-4">
                        <img class="border-radius-round" width="80px" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1514627_858869820895635_1119508450771753991_n.jpg?_nc_cat=110&_nc_ht=scontent-icn1-1.xx&oh=a32aa56b750b212aee221da7e9711bb1&oe=5D8781A4">
                    </div>
                    <div class="col-md-10 col-sm-7">
                        <span class="font-size-16 text-bold pdd-btm-5">Brown</span><span class="font-size-12 text-gray"> / gracefulBrown@woowahan.com</span>
                        <p class="font-size-13 text-dimgray lh-1-3">
                            백엔드 개발자: 설계.테스트.생산성.클린코드.멘토링에 관심이 많음 <br>
                            Woowahantechcourse Organizer / Coach / Husband
                        </p>
                        <ul class="list-unstyle list-inline mrg-vertical-15">
                            <li class="list-inline-item no-pdd-horizon">
                                <a href="" class="btn-sm btn-facebook btn-icon btn-rounded sns-btn">
                                    <i class="ti-facebook font-size-12"></i>
                                </a>
                            </li>
                            <li class="list-inline-item no-pdd-horizon">
                                <a href="" class="btn-sm btn-dark btn-icon btn-rounded sns-btn">
                                    <i class="ti-github font-size-12"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto mrg-top-30">
                <div class="width-100 border bottom mrg-btm-2
                0 pdd-btm-10">
                    <span class="font-size-16">댓글</span>
                    <span class="font-size-16 text-info" id="comment-size">2</span>
                </div>
                <div class="comment">
                    <ul class="list-unstyled list-info" id="comment-section">

                    </ul>
                    <th:block th:if="${session.user != null}">
                        <div class="add-comment">
                            <div id="editSection"></div>
                        </div>
                            <button id="comment-submit" type="button" class="button">댓글달기AJAX</button>
                            <input id="comment-contents" name="contents" type="hidden"/>
                            <input id="article-id" name="articleId" type="hidden" th:value="${article.id}"/>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let articleId = [[${article.id}]];
</script>
<th:block th:include="fragments/article-js :: articleJs"/>
<script>
    const viewer = tui.Editor.factory({
        el: document.querySelector('#viewerSection'),
        viewer: true,
        height: '100%',
        initialValue: document.getElementById('article-contents').value
    })

    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'horizontal',
        events: {
            change: function () {
                document.getElementById('comment-contents').setAttribute('value', editor.getMarkdown());
            }
        },
        height: '200px'
    });

    function drawComment(res) {
        let node = document.getElementById('comment-section');
        while (node.firstChild) {
            node.removeChild(node.firstChild);
        }

        document.getElementById('comment-size').innerText = res.length;

        res.forEach(function (element) {
            console.log(element);
            node.insertAdjacentHTML('beforeend',
                template({
                    "contents": element.contents,
                    "commentId": element.id,
                    "commenter": element.commenter.name
                }))
        });
    }

    fetch('/articles/' + articleId + "/comment", {
        method: "GET",
        headers: {
            'Content-Type': 'application/json;charset=UTF-8'
        }
    }).then(function(response) {
        return response.json();
    }).then(function(res) {
        drawComment(res);
    });

    const template = (comment) => {
        return `<li class="comment-item border bottom mrg-btm-30">
                    <img class="thumb-img img-circle" src="https://avatars2.githubusercontent.com/u/3433096?v=4" alt="">
                    <div class="info">
                        <span href="" class="text-bold inline-block">${comment.commenter}</span>
                        <span class="sub-title inline-block pull-right">
                            <i class="ti-timer pdd-right-5"></i>
                            <span class="elapsed-time">${comment.elapsedTime}</span>
                        </span>
                        <p class="width-80">${comment.contents}</p>
                        <a href="/comment/${comment.commentId}">수정</a>
                        <button type="submit" class="warning" data-comment-id="${comment.commentId}">삭제</button>
                    </div>
                </li>`
    };

    document.getElementById("comment-section").addEventListener('click', function(event) {
        if (event.target.classList.contains('warning')) {
            fetch('/comment/' + event.target.dataset.commentId, {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }).then(function(response) {
                return response.json();
            }).then(function(res) {
                drawComment(res)
            });
        }
    });

    document.getElementById("comment-submit").addEventListener('click', function() {
        let contents = document.getElementById("comment-contents").value;
        let articleId = document.getElementById("article-id").value;

        let requestDto = {
            contents: contents, articleId: articleId
        };

        fetch('/comment', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify(requestDto)
        }).then(function(response) {
            return response.json();
        }).then(function(res) {
            drawComment(res);
        });
    });

    const convertTime = function(elapsedtime) {
        let hours = Math.floor(elapsedtime / 3600000);
        return hours > 24 ? hours / 24 + "일전" : hours + "시간 전";
    };

    window.addEventListener("load", function() {
        let span = document.getElementsByClassName("elapsed-time");
        Array.from(span).forEach(function(s) {
            s.textContent = convertTime(s.textContent);
        });
    });
</script>
</body>
</html>
