<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHeader"></th:block>
</head>
<body>
<div>
	<header id="header" class="header navbar">
		<div class="header-container max-width-lg mx-auto">
			<ul class="nav-left mrg-left-0 padding-15">
				<li>
					<a href="/">
						<img class="logo desktop-view mrg-top-5" src="/images/logo/zzazanstagram.png">
					</a>
				</li>
			</ul>
			<ul class="nav-right padding-15">
				
				<li>
					<a class="pointer">
						<i class="ti-heart"></i>
					</a>
				</li>
				<li>
					<a class="pointer" th:href="@{/members/{nickName}(nickName=${session.member.nickName})}">
						<i class="ti-user"></i>
					</a>
				</li>
			</ul>
		</div>
	</header>
	
	<div class="page-container mrg-top-120">
		<div class="main-content">
			<div class="container-fluid max-width-lg mx-auto">
				<div class="row">
					<div class="col-lg-7 mx-auto">
						<div class="card widget-feed no-pdd mrg-btm-70">
							
							<form id="article-form" method="post" action="/articles" enctype="multipart/form-data">
								<input id="article-form-method" type="hidden" name="_method" value="post"/>
								<div class="feed-header padding-15">
									<ul class="list-unstyled list-info">
										<li>
											<img class="thumb-img img-circle" th:src="${session.member.profileImage}"
											     alt="">
											<div class="info">
												<p th:text="${session.member.nickName}"
												   class="title no-pdd-vertical text-bold inline-block font-size-15 mrg-btm-0"></p>
												<p class="mrg-btm-0" style="font-size: 12px; color: gray;">새 글 쓰기</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="feed-body">
									<div class="input-group">
										<div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="ti-image font-size-22"></i>
                                            </span>
										</div>
										<input type="file" class="form-control" name="file">
									</div>
									<div class="info pdd-vertical-5">
										<textarea rows="1" name="contents" class="form-control text-dark padding-15"
										          placeholder="사진에 대해 친구들에게 알려주세요 :)"></textarea>
									</div>
								</div>
								<div class="feed-footer">
									<div class="comment">
										<div class="feed-action pdd-top-5">
											<div class="top-5 right-0 float-right">
												<button onclick="goBackToIndexPage(event)"
												        class="btn btn-default no-border text-gray">취소
												</button>
												<button onclick="submitArticle(event)"
												        class="btn btn-default no-border text-gray">게시
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script>
    const articleForm = document.querySelector("#article-form");
    const articleFormMethod = document.querySelector("#article-form-method");

    function goBackToIndexPage(event) {
        event.preventDefault();

        if (confirm("작성하신 게시물을 취소하고 돌아가시겠습니까?") === true) {
            articleForm.setAttribute("method", "get");
            articleForm.setAttribute("action", "/");
            articleFormMethod.remove();

            articleForm.submit();
        }
    }

    function submitArticle(event) {
        event.preventDefault();

        articleForm.submit();
    }
</script>
</body>
</html>
