<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHeader"></th:block>
</head>
<body>
<div>
    <header id="header" class="header navbar">
        <div class="header-container max-width-lg mx-auto">
            <ul class="nav-left mrg-left-0 padding-15">
                <li>
                    <a href="/">
                        <img class="logo desktop-view mrg-top-5" src="/images/logo/zzazanstagram.png">
                    </a>
                </li>
                <li class="search-box mrg-left-20 desktop-view">
                    <a class="search-toggle no-pdd-right" href="">
                        <i class="search-icon ti-search pdd-right-10 font-size-25"></i>
                        <i class="search-icon-close ti-close pdd-right-10 font-size-25"></i>
                    </a>
                </li>
                <li class="search-input desktop-view">
                    <input class="form-control mrg-top-0" type="text" placeholder="Search...">
                    <div class="advanced-search">
                        <div class="search-wrapper">
                            <div class="pdd-vertical-10">
                                <ul class="list-unstyled list-info">
                                    <li class="search-result-item">
                                        <a href="" class="text-dark">#우테코 1기</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav-right padding-15">

                <li class="">
                    <a class="pointer" href="/articles/new">
                        <i class="ti-pencil-alt"></i>
                    </a>
                </li>
                <li>
                    <a class="pointer">
                        <i class="ti-heart"></i>
                    </a>
                </li>
                <li>
                    <a class="pointer" th:href="@{/members/{nickName}(nickName=${session.member.nickName})}">
                        <i class="ti-user"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="page-container mrg-top-120">
        <div class="main-content">
            <div class="container-fluid max-width-lg mx-auto">
                <div class="row">
                    <div class="col-lg-7 mx-auto">

                        <div th:each="article : ${articles}" class="card widget-feed no-pdd mrg-btm-70"
                             th:id="${article.id}">
                            <div class="feed-header padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <img class="thumb-img img-circle" th:src="${article.profileImage}" alt="">
                                        <div class="info">
                                            <a th:text="${article.nickName}" href=""
                                               class="title no-pdd-vertical text-bold inline-block font-size-15"></a>
                                        </div>
                                    </li>
                                    <a class="pointer absolute top-10 right-0" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <span class="btn-icon text-dark">
                                            <i class="ti-more font-size-16"></i>
                                        </span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="pointer">
												<i class="ti-trash pdd-right-10 text-dark"></i>
												<span class="">게시글 삭제</span>
											</a>
										</li>
									</ul>
								</ul>
							</div>
							<div class="feed-body no-pdd">
								<img class="img-fluid" th:src="${article.image}" alt="">
							</div>
							<ul class="feed-action pdd-horizon-15 pdd-top-5">
								<li>
									<a href="">
										<i class="fa fa-heart-o font-size-25"></i>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-comment font-size-22"></i>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-export font-size-22"></i>
									</a>
								</li>
								<li class="float-right">
									<a href="" class="pdd-right-0">
										<i class="fa fa-bookmark-o font-size-25"></i>
									</a>
								</li>
							</ul>
							<div class="feedback-status-container pdd-horizon-15">
								<img class="mini-profile-img" src="images/default/eastjun_profile.jpg">
								<p class="no-mrg pdd-left-5 d-inline-block">
									<span class="text-bold">에헴</span>님 외 <span class="text-bold">0</span>명이 좋아합니다.
								</p>
							</div>
							<div class="feed-footer">
								<div class="comment">
									<ul class="list-unstyled list-info pdd-horizon-5">
										<li class=" no-pdd">
											<div class="info pdd-left-15 pdd-vertical-5">
												<a th:text="${article.nickName}" href=""
												   class="title no-pdd-vertical text-bold inline-block font-size-15"></a>
												<p th:text="${article.contents}"></p>
												<p>
													<a href="" class="hashtag">#우테코1기</a>
													<a href="" class="hashtag">#베스트커플상</a>
												</p>
												<time th:text="${article.lastModifiedDate}"
												      class="font-size-8 text-gray d-block">12시간 전
												</time>
												<a class="text-gray text-bold no-mrg"
												   th:if="${#lists.size(article.commentResponses)} > 2"
												   th:text="'댓글 ' + ${#lists.size(article.commentResponses)} + '개 모두보기'"
												   href="https://www.facebook.com/photo.php?fbid=10218839206514276&set=a.3550549965490&type=3&eid=ARCGyON074Trey-lkN9xzWXkIcswd6vtGrBYRRT_6lJGY9zjDlpB2_ubHr-3V_mEsEzIHKvTppcn-GU_">댓글
													개 모두보기</a>
											</div>
										</li>
									</ul>
									<ul id="comment-list" class="list-unstyled list-info pdd-horizon-5">
										<li th:each="comment, iter : ${article.getCommentResponses()}">
											<p class="inline-block text-bold  no-mrg-btm mrg-left-15"
											   th:if="${iter.index < 2}"
											   th:text="${comment.getCommenterNickName()}">nickName</p>
											<p class="inline-block no-mrg-btm mrg-left-5"
											   th:if="${iter.index < 2}"
											   th:text="${comment.getCommentContents()}">댓글은댓글은</p>
										</li>
									</ul>
									<p class="mrg-btm-5"></p>
									<div th:id="article-id-+${article.id}" class="add-comment relative">
										<input id="comment-input" rows="1" class="form-control text-dark padding-15"
										       placeholder="댓글 달기...">
										<p class="absolute top-2 right-0">
											<button class="btn btn-default no-border text-gray btn-add-comment">게시
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
