<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="/fragments/mypage-head :: mypageHead"></head>

<body>
<div th:if="${error} != null" class="alert alert-danger" th:text="${error.errorMessage}"></div>
<div>
    <header id="header" class="header navbar bg-transparent no-border">
        <div class="header-container">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div class="logo logo-dark d-none"
                             style="background-image: url('/static/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('/static/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <th:block th:include="/includes/logout-nav"/>
            </ul>
        </div>
    </header>

    <div class="about-cover card no-border">
        <div class="cover-img overlay-dark bg" style="background-image: url('/static/images/pages/index/bg.jpg')">
            <div class="display-block height-100">

            </div>
        </div>
    </div>

    <div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card">
                    <form th:action="@{'/users/' + ${session.user.id}}" method="post" th:object="${userEditRequest}">
                        <input type="hidden" name="_method" value="put"/>
                        <div class="card-heading pdd-btm-5 border bottom">
                            <h4 class="card-title d-inline-block">profile</h4>
                            <button type="submit" class="btn btn-info float-right mrg-btm-0 relative bottom-5">수정
                            </button>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Name</b></p>
                                </div>
                                <div class="col-md-6">
                                    <input th:value="${session.user.name}" type="text" name="name" class="form-control">
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Email</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p th:text="${session.user.email}" class="mrg-top-10">gracefulBrown@woowahan.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Avatar</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="img-upload" class="pointer">
                                            <img src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4"
                                                 width="117" alt="">
                                            <span class="btn btn-default display-block no-mrg-btm">Choose file</span>
                                            <input class="d-none" type="file" name="uploadedimages0" multiple
                                                   id="img-upload">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>SNS</b></p>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                        <span class="btn-dark border-radius-4 inline-block">
                                            <span class="pdd-horizon-10 lh-2-5 display-block">
                                                <i class="fa fa-github"></i>
                                            </span>
                                        </span>
                                            <span class="font-size-14 mrg-left-10 text-dark text-bold">Github</span>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <input type="text" class="form-control"
                                                   value="https://www.github.com/profile">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                    <span class="btn-facebook border-radius-4 inline-block">
                                        <span class="pdd-horizon-10 lh-2-5 display-block">
                                            <i class="ti-facebook"></i>
                                        </span>
                                    </span>
                                            <span class="mrg-left-10 font-size-14 text-dark text-bold">Facebook</span>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <input type="text" class="form-control"
                                                   value="https://www.facebook.com/profile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="/fragments/main-js :: mainJs"/>

</body>
</html>
