<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHeader"></th:block>
	<link rel="stylesheet" href="/css/vanilla-notify.css"/>
</head>
<body>
<input id="session-name" type="hidden" th:value="${session.member.nickName}"/>
<input id="endpoint" type="hidden" th:value="${endpoint}"/>
<div>
	<header id="header" class="header navbar">
		<div class="header-container max-width-lg mx-auto">
			<ul class="nav-left mrg-left-0 padding-15">
				<li>
					<a href="/">
						<img class="logo desktop-view mrg-top-5" src="/images/logo/zzazanstagram.png">
					</a>
				</li>
				<li class="search-box mrg-left-20 desktop-view">
					<a class="search-toggle no-pdd-right" href="">
						<i class="search-icon ti-search pdd-right-10 font-size-25"></i>
						<i class="search-icon-close ti-close pdd-right-10 font-size-25"></i>
					</a>
				</li>
				<li class="search-input desktop-view">
					<input class="form-control mrg-top-0" type="text" placeholder="Search...">
					<div class="advanced-search">
						<div class="search-wrapper">
							<div class="pdd-vertical-10">
								<ul class="list-unstyled list-info">
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav-right padding-15">
				
				<li class="">
					<a class="pointer" href="/articles/new">
						<i class="ti-pencil-alt"></i>
					</a>
				</li>
				<li>
					<a class="pointer">
						<i class="ti-heart"></i>
					</a>
				</li>
				<li>
					<a class="pointer" th:href="@{/members/{nickName}(nickName=${session.member.nickName})}">
						<i class="ti-user"></i>
					</a>
				</li>
			</ul>
		</div>
	</header>
	
	<div class="page-container mrg-top-120">
		<div class="main-content">
			<div class="container-fluid max-width-lg mx-auto">
				<div class="row">
					
					<div id="profile" class="col-lg-12 max-width-lg pdd-btm-30 mrg-top-20 mrg-btm-30 border bottom">
						<div id="profile-img" class="inline-block mrg-horizon-70 mrg-vertical-20 mrg-top-0">
							<img class="thumb-img img-circle my-page-profile-img"
							     th:src="${member.profileImage}" alt="">
						</div>
						<div id="profile-block" class="inline-block mrg-horizon-30 mrg-vertical-20 mrg-top-0">
							<div class="mrg-btm-15">
								<span class="text-center text-bold font-size-25" th:text="${member.nickName}"></span>
								
								<a id="profile-block-settings-btn" class="pointer mrg-left-10 display-none"
								   data-toggle="modal" data-target="#modal-settings">
									<i class="ti-settings font-size-18"></i>
								</a>
								<div class="modal fade" id="modal-settings">
									<div class="modal-dialog modal-sm" role="document">
										<div class="modal-content">
											<div class="btn-group btn-group-vertical width-100">
												<button type="button" class="btn btn-default">
													정보 수정
												</button>
												<button id="profile-block-logout-btn" type="button"
												        class="btn btn-default">
													로그 아웃
												</button>
											</div>
										</div>
									</div>
								</div>
								
								<a id="profile-block-follow-btn"
								   class="btn btn-info mrg-left-10 font-size-10 pdd-vertical-5 pdd-horizon-10 display-none">
									팔로우 하기
								</a>
								
								<a id="profile-block-double-follow-btn"
								   class="btn btn-info mrg-left-10 font-size-10 pdd-vertical-5 pdd-horizon-10 display-none">
									맞팔로우 하기
								</a>
								
								<a id="profile-block-unfollow-modal-btn"
								   class="btn btn-default mrg-left-10 font-size-10 pdd-vertical-5 pdd-horizon-10 display-none"
								   data-toggle="modal" data-target="#modal-following-cancel">
									팔로잉
								</a>
								<div class="modal fade" id="modal-following-cancel">
									<div class="modal-dialog modal-sm" role="document">
										<div class="modal-content">
											<div class="text-center margin-10">
												<img class="thumb-img img-circle my-page-profile-img"
												     th:src="${member.profileImage}" alt="">
											</div>
											<div class="margin-10">
												<span th:text="${member.nickName}"></span>
												<span>님의 팔로우를 취소하시겠어요?</span>
											</div>
											<div class="btn-group btn-group-vertical width-100">
												<button id="profile-block-unfollow-btn" type="button"
												        class="btn btn-default text-color-red">
													팔로우 취소
												</button>
											</div>
										</div>
									</div>
								</div>
							
							</div>
							
							<div class="mrg-btm-15 font-size-15">
								<span class="mrg-right-30">
									<span>게시물</span>
									<span class="text-bold" th:text="${member.articleNumber}"></span>
								</span>
								<span class="mrg-right-30">
									<a id="follower-btn" class="pointer" data-toggle="modal"
									   data-target="#modal-follower">
										<span>팔로워</span>
										<span class="text-bold" th:text="${member.followerNumber}"></span>
									</a>
									<div class="modal fade" id="modal-follower">
										<div class="modal-dialog modal-sm" role="document">
											<div class="modal-content">
												<div class="modal-header align-self-center">
													<span class="text-bold">팔로워</span>
												</div>
												<ul id="follower-ul" class="list-unstyled list-info">
                                                </ul>
											</div>
										</div>
									</div>
								</span>
								<span>
									<a id="following-btn" class="pointer" data-toggle="modal"
									   data-target="#modal-following">
										<span>팔로잉</span>
										<span class="text-bold" th:text="${member.followeeNumber}"></span>
									</a>
									<div class="modal fade" id="modal-following">
										<div class="modal-dialog modal-sm" role="document">
											<div class="modal-content">
												<div class="modal-header align-self-center">
													<span class="text-bold">팔로잉</span>
												</div>
												<ul id="following-ul" class="list-unstyled list-info">
                                                </ul>
											</div>
										</div>
									</div>
								</span>
							</div>
							
							<div class="mrg-btm-15 font-size-15">
								<div class="mrg-btm-5">
									<span class="text-bold" th:text="${member.name}"></span>
								</div>
								<div class="font-size-13">
									<span>
										우아한테크코스의 계정에 오신 것을 환영합니당<br>
										좋아요 댓글 팔로우 눌러주세용<br>
										선팔하면 맞팔<br>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/search-box.js"></script>
<script src="/js/MemberCardTemplate.js"></script>
<script src="/js/vanilla-notify.js"></script>
<script src="/js/socket-notification.js"></script>
<script th:inline="javascript">

    const MYPAGE = (function () {
        const profileBlockSettingsBtn = document.querySelector("#profile-block-settings-btn");
        const profileBlockFollowBtn = document.querySelector("#profile-block-follow-btn");
        const profileBlockDoubleFollowBtn = document.querySelector("#profile-block-double-follow-btn");
        const profileBlockUnFollowModalBtn = document.querySelector("#profile-block-unfollow-modal-btn");
        const profileBlockUnFollowBtn = document.querySelector("#profile-block-unfollow-btn");
        const profileBlockLogoutBtn = document.querySelector("#profile-block-logout-btn");

        const MyPageController = function () {
            const myPageService = new MyPageService();

            const showFollowingMembers = function () {
                document.querySelector("#following-btn").addEventListener("click", myPageService.showFollowingMembers);
            };

            const showFollowerMembers = function () {
                document.querySelector("#follower-btn").addEventListener("click", myPageService.showFollowerMembers);
            };

            const getFollowRelation = function () {
                myPageService.getFollowRelation();
            };

            const followMember = function () {
                profileBlockFollowBtn.addEventListener("click", myPageService.followMember);
            };

            const unfollowMember = function () {
                profileBlockUnFollowBtn.addEventListener("click", myPageService.unfollowMember);
            };

            const doubleFollowMember = function () {
                profileBlockDoubleFollowBtn.addEventListener("click", myPageService.doubleFollowMember);
            };

            const settings = function () {
                profileBlockSettingsBtn.addEventListener("click", myPageService.settings);
            };

            const logout = function () {
                profileBlockLogoutBtn.addEventListener("click", myPageService.logout);
            };

            const openSocketConnection = function () {
                myPageService.openSocketConnection();
            };

            const getMyPageArticles = function () {
                myPageService.getMyPageArticles();
            };

            const getScrollTop = function () {
                return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
            };

            const getDocumentHeight = function () {
                const body = document.body;
                const html = document.documentElement;

                return Math.max(
                    body.scrollHeight, body.offsetHeight,
                    html.clientHeight, html.scrollHeight, html.offsetHeight
                );
            };

            const onscroll = function () {
                if (getScrollTop() === getDocumentHeight() - window.innerHeight) {
                    getMyPageArticles()
                }
            };

            const init = function () {
                showFollowingMembers();
                showFollowerMembers();
                getFollowRelation();
                followMember();
                unfollowMember();
                doubleFollowMember();
                settings();
                logout();
                openSocketConnection();
                getMyPageArticles();
            };

            return {
                onscroll: onscroll,
                init: init,
            }
        };

        const MyPageService = function () {
            const memberCardTemplate = new MemberCardTemplate();
            const followingUlTag = document.querySelector("#following-ul");
            const followerUlTag = document.querySelector("#follower-ul");

            let isFollower = false;
            let isFollowing = false;

            function showBtn(btn) {
                btn.classList.remove('display-none');
                btn.classList.add('display-inline-block');
            }

            function hideBtn(btn) {
                btn.classList.remove('display-inline-block');
                btn.classList.add('display-none');
            }

            const myPageArticleTemplate = myPageArticle =>
                `<div id="mypage-article-${myPageArticle.id}" class="my-page-card col-lg-4 col-md-4">
                        <div class="card">
                            <a class="pointer" href="/articles/${myPageArticle.id}">
                                <div class="bg article-bg-img"
                                     style="background-image: url(${myPageArticle.image});">
                                    <div class="card-block pdd-btm-15">
                                        <div class="mrg-top-240">
                                            <div class="text-white text-opacity text-right">
											<span>
												<i class="ti-heart pdd-right-5"></i>
												<span> ${myPageArticle.ddabongNumber}</span>
                                            </span>
                                                <span class="pdd-horizon-10">
												|
											</span>
                                                <span>
												<i class="ti-comment pdd-right-5"></i>
												<span> ${myPageArticle.commentNumber}</span>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
              </div>`

            const followMemberTemplate = function (json) {
                return `<div class="pdd-vertical-10 pdd-horizon-20 mrg-vertical-5">
							<img class="thumb-img img-circle"
							src="${json.profileImage}"
							alt="">
							<div class="info">
								<a href="/members/${json.nickName}">${json.nickName}</a>
								<span class="sub-title">
									<span>${json.name}</span>
								</span>
							</div>
						</div>`
            };

            const showFollowingMembers = function (event) {
                event.preventDefault();
                axios({
                    method: 'get',
                    url: '/follow/following/' + [[${member.id}]]
                }).then(response => {
                    return response.data;
                }).then(members => {
                    followingUlTag.innerHTML = "";
                    members.forEach((member) => {
                        const liNode = document.createElement("LI");
                        liNode.innerHTML = memberCardTemplate.memberTemplate(member.memberResponse);
                        followingUlTag.appendChild(liNode);
                    })
                });
            };

            const showFollowerMembers = function (event) {
                event.preventDefault();
                axios({
                    method: 'get',
                    url: '/follow/follower/' + [[${member.id}]]
                }).then(response => {
                    return response.data;
                }).then(members => {
                    followerUlTag.innerHTML = "";
                    members.forEach((member) => {
                        const liNode = document.createElement("LI");
                        liNode.innerHTML = memberCardTemplate.memberTemplate(member.memberResponse);
                        followerUlTag.appendChild(liNode);
                    });
                });
            };

            const getFollowRelation = function () {
                if ([[${session.member.nickName.equals(member.nickName)}]]) {
                    showBtn(profileBlockSettingsBtn);
                    return;
                }

                axios({
                    method: 'get',
                    url: '/follow/relation/' + [[${member.id}]]
                }).then(response => {
                    return response.data;
                }).then(data => {
                    isFollower = data.follower;
                    isFollowing = data.following;

                    if (isFollowing) {
                        showBtn(profileBlockUnFollowModalBtn);
                        return;
                    }

                    if (isFollower) {
                        showBtn(profileBlockDoubleFollowBtn);
                        return;
                    }

                    showBtn(profileBlockFollowBtn);
                });
            };

            const followMember = function () {
                // TODO follow 버튼을 누르면 socket 연결을한다 -> 이거 안돼, 처음 페이지 들어갈 때 해야함 서비스에 만들었다
                const followeeId = [[${session.member.id}]];
                const followerId = [[${member.id}]];
                const formData = new FormData();

                formData.append('followeeId', followeeId);
                formData.append('followerId', followerId);

                axios({
                    method: 'post',
                    url: '/follow',
                    data: formData
                }).then(() => {
                    hideBtn(profileBlockFollowBtn);
                    showBtn(profileBlockUnFollowModalBtn);
                });
            };

            const unfollowMember = function () {
                const followeeId = [[${session.member.id}]];
                const followerId = [[${member.id}]];
                const formData = new FormData();

                formData.append('followeeId', followeeId);
                formData.append('followerId', followerId);

                axios({
                    method: 'post',
                    url: '/follow',
                    data: formData
                }).then(() => {
                    refreshFollowBtn();
                });
            };

            const refreshFollowBtn = function () {
                axios({
                    method: 'get',
                    url: '/follow/relation/' + [[${member.id}]]
                }).then(response => {
                    return response.data;
                }).then(data => {
                    isFollower = data.follower;
                    isFollowing = data.following;
                }).then(() => {
                    hideBtn(profileBlockUnFollowModalBtn);
                    document.querySelector('#modal-following-cancel').click();

                    if (isFollower) {
                        showBtn(profileBlockDoubleFollowBtn);
                        return;
                    }
                    showBtn(profileBlockFollowBtn);
                });
            };

            const doubleFollowMember = function () {
                const followeeId = [[${session.member.id}]];
                const followerId = [[${member.id}]];
                const formData = new FormData();

                formData.append('followeeId', followeeId);
                formData.append('followerId', followerId);

                axios({
                    method: 'post',
                    url: '/follow',
                    data: formData
                }).then(() => {
                    hideBtn(profileBlockDoubleFollowBtn);
                    showBtn(profileBlockUnFollowModalBtn);
                });
            };

            const settings = function () {
                // TODO setting
            };

            const logout = function () {
                axios({
                    method: 'get',
                    url: '/logout'
                }).then(data => {
                    window.location = '/login';
                });
            };

            const openSocketConnection = function () {
                socketConnect();
            };

            const parseId = (id, regex) => {
                const splitId = id.split(regex);
                return splitId[splitId.length - 1];
            };

            const getMyPageArticles = function () {
                let cardList = document.querySelectorAll('.my-page-card');
                let cardListLength = cardList.length;
                let lastArticleId = Number.MAX_SAFE_INTEGER;
                if (cardListLength !== 0) {
                    lastArticleId = parseId(cardList[cardListLength - 1].id, "-");
                }
                const articleData = {
                    nickName: [[${member.nickName}]],
                    lastArticleId: lastArticleId,
                    size: 6,
                };
                axios.get('/api/articles/mypage', {params: articleData})
                    .then(res => res.data)
                    .then(res => addMyPageArticles(res));
            };

            const addMyPageArticles = myPageArticles => {
                myPageArticles.forEach(myPageArticle => addMyPageArticle(myPageArticle));
            };

            const addMyPageArticle = myPageArticle => {
                const articleTemplate = myPageArticleTemplate(myPageArticle);
                document.querySelector(".row").insertAdjacentHTML("beforeend", articleTemplate);
            };

            return {
                showFollowingMembers: showFollowingMembers,
                showFollowerMembers: showFollowerMembers,
                getFollowRelation: getFollowRelation,
                followMember: followMember,
                unfollowMember: unfollowMember,
                doubleFollowMember: doubleFollowMember,
                settings: settings,
                logout: logout,
                openSocketConnection: openSocketConnection,
                getMyPageArticles: getMyPageArticles,
            }
        };

        const myPageController = new MyPageController();

        const init = function () {
            myPageController.init();
        };

        const onscroll = function () {
            myPageController.onscroll();
        };
        
        return {
            init: init,
            onscroll: onscroll,
        }
    })();

    MYPAGE.init();

    window.onscroll = function () {
        MYPAGE.onscroll();
    };

</script>
</body>
</html>

